body{ background-color: #FFED74}
header{
	 background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	text-align:  center;
}
nav{
	 background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	text-align:  center;
}
aside{
      background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	margin: 10px 10px 0px 10px;
	text-align:  center;
}
aside:hover {background-color: #E89C6C; }
article{
	     background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	margin: 0px 10px 10px 10px;
	text-align:  center;
	float: left
}
article:hover {background-color: #FFC675;}

footer{
	     background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align:  center;
}
div/section{
	   background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}