body {background-color: black;
}
#header {background-color: #FFED74;
         border:1px white solid;
         height:90px;
         margin: 10px;
}
#navbar {background-color: #E8C66A;
         border:1px white solid;
         height:45px;
           margin: 10px;
        }