body {background: url(../bathroom.jpg);
}
h1 {color:#E8C66A;
font-size: 50px}
#header {background-color: #FFED74;
         border:1px white solid;
         height:90px;
         margin: 10px;
         padding:20px;
}
#navbar {background-color: #E8C66A;
         border:1px white solid;
         height:45px;
           margin: 10px;
        }