body { text-align: center; background: "IMG_4212 copy.jpg";
background-size:cover;}

p {font-size: 30px;}
img.profile {max-width:  900px; }
img{
	max-width:400px;
	height:auto;
}


img.profile {max-width:  200px; }