body { text-align: left; color: yellow;
	background: url(http://www.hkcleanup.org/sites/default/files/styles/article_full/public/landfill.jpg);
background-size:cover;}

h1 {color: #fff;
	font-size: 50px;
}
hr {width:250px;}
p{color: #fff; font-size: 35px;}