@import url(https://fonts.googleapis.com/css?family=Codystar);
body { text-align: left; 
	background: url(.../bathroom.jpg);
background-size:cover;}
h1, p {color: red;
font-family: 'Codystar', cursive;}

h1 {
	font-size: 50px;
}

p{ font-size: 35px;}