@import url(https://fonts.googleapis.com/css?family=Kranky);
body { text-align: left; 
	background: url(../bathroom.jpg);
background-size:cover;}
h1 {color: red; font-family: 'Kranky', cursive;}
 p {color: red;
font-family: 'Kranky', cursive;;}

h1 {
	font-size: 75px;
}

p{ font-size: 35px;}